%div{id: dom_id(cart_product.product, :num_static), style: ('display: none' if cart_product.errors[:num].present?)}
  = cart_product.num
  = link_to "変更", "javascript:void(0)", {id: dom_id(cart_product.product, :num_change), remote: false}

- simple_form_opts = {id: dom_id(cart_product.product, :num_form), class: 'form-inline'}
- simple_form_opts[:style] = 'display: none' unless cart_product.errors[:num].present?
= simple_form_for(cart_product, url: update_num_product_cart_products_path(cart_product.product), method: :put, remote: true, html: simple_form_opts) do |f|
  = f.input :num, input_html: {class: 'form-control input-sm form-inline', style: 'width: 60px', id: '', display: 'inline'}, label: false
  = f.submit "更新"

:coffee
  $("##{dom_id(cart_product.product, :num_change)}").click ->
    $("##{dom_id(cart_product.product, :num_static)}").hide()
    $("##{dom_id(cart_product.product, :num_form)}").show()
