- if @cart.purchase_products.present?
  %h1= "#{Cart.model_name.human}の編集"

  %table.table-striped.table-hover
    %colgroup
      %col.col-md-2
      %col.col-md-3
      %col.col-md-2
      %col.col-md-2
      %col.col-md-2
      %col.col-md-1
    %thead
      %tr
        %th= PurchaseProduct.human_attribute_name(:product)
        %th
        %th.text-right= PurchaseProduct.human_attribute_name(:price)
        %th.text-right= PurchaseProduct.human_attribute_name(:num)
        %th.text-right= PurchaseProduct.human_attribute_name(:total)
        %th

    %tbody
      - @cart.purchase_products.each do |purchase_product|
        %tr{id: dom_id(purchase_product.product)}
          %td= image_tag purchase_product.product.product_image_url(:thumb), class: 'media-object'
          %td= purchase_product.name
          %td.text-right= number_to_currency purchase_product.price
          %td.text-right{id: dom_id(purchase_product.product, :num)}
            = render 'num', cart_product: purchase_product
          %td.text-right{id: dom_id(purchase_product.product, :total)}
            = number_to_currency purchase_product.total
          %td= link_to "削除", product_cart_products_path(purchase_product.product), method: :delete
    = render 'total', cart: @cart

  .form-actions
    = simple_form_for(@cart, url: cart_path, mothod: :put) do |f|
      = f.input :lock_version, as: :hidden, input_html: {data: {lock_version: ''}}
      = f.button :submit, "#{ShippingAddress.model_name.human}の編集画面に進む", class: 'btn-primary', name: 'fix_products'
