%h1= "#{PurchaseHistory.model_name.human}の一覧"

= paginate @purchase_histories

%table.table-striped.table-bordered.table-hover{id: 'purchase_histories', style: 'width:100%'}
  %caption.index-page-info
    = page_entries_info @purchase_histories
  %thead
    %tr
      %th{style: 'width: 20%;'}= PurchaseHistory.human_attribute_name(:purchased_at)
      %th{style: 'width: 50%;'}= PurchaseProduct.human_attribute_name(:name)
      %th{style: 'width: 10%;'}= PurchaseHistory.human_attribute_name(:products_num)
      %th{style: 'width: 10%;'}= PurchaseHistory.human_attribute_name(:total)
      %th{style: 'width: 10%;'}

  %tbody
    - @purchase_histories.each do |purchase_history|
      %tr
        %td= purchase_history.purchased_at.to_s(:db)
        %td
          = purchase_history.purchase_products.pluck(:name).join(", ")
        %td.text-right= number_with_delimiter purchase_history.products_num
        %td.text-right= number_to_currency purchase_history.total
        %td= link_to I18n.t('links.show'), purchase_history

%br
