!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title さくらマーケット管理
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag('application_admin', {media: 'all', 'data-turbolinks-track': 'reload'})
    = javascript_include_tag('application_admin', {'data-turbolinks-track': 'reload'})
  %body
    - if admin_signed_in?
      %nav.navbar.navbar-expand-lg.fixed-top.navbar-light.bg-light
        %a.navbar-brand{href: "#"}
          さくらマーケット管理
        =# TODO: 以下のbuttonは何？
        %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarSupportedContent", "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation"}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse{id: "navbarSupportedContent"}
          %ul.navbar-nav.mr-auto
            %li.nav-item{class: ('active' if nav_active?('users'))}
              %a.nav-link{href: admin_users_path}
                = User.model_name.human
                - if nav_active?('users')
                  %span.sr-only (current)
            %li.nav-item{class: ('active' if nav_active?('products'))}
              %a.nav-link{href: admin_products_path}
                = Product.model_name.human
                - if nav_active?('products')
                  %span.sr-only (current)
          %ul.navbar-nav
            %li.nav-item
              = link_to "ログアウト", destroy_admin_session_path, class: "a.nav-link", method: 'delete'
    %main.container{role: "main", class: ("devise_main" if devise_controller?)}
      - if notice.present?
        %p.notice.alert.alert.alert-primary= notice
      - if alert.present?
        %p.alert.alert-danger= alert
      = yield
