%h1= "#{Product.model_name.human}の一覧"

%table.table-striped.table-bordered.table-hover{id: 'products'}
  %thead
    %tr
      %th= Product.human_attribute_name(:name)
      %th= Product.human_attribute_name(:price)
      %th= Product.human_attribute_name(:description)
      %th= Product.human_attribute_name(:hidden)
      %th= Product.human_attribute_name(:sort_no)
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr{data: {product: product.id}}
        %td= product.name
        %td.text-right= number_with_delimiter(product.price)
        %td= product.description
        %td= product.hidden_name
        %td.text-right
          = number_with_delimiter(product.sort_no)
        %td= link_to I18n.t('links.show'), [:admin, product]
        %td= link_to I18n.t('links.edit'), edit_admin_product_path(product)
        %td= link_to I18n.t('links.destroy'), [:admin, product], method: :delete, data: { confirm: I18n.t('messages.confirm') }

%br

= link_to I18n.t('links.new'), new_admin_product_path
- if @products.size > 1
  |
  = link_to "#{Product.human_attribute_name(:sort_no)}を変更する", 'javascript:void(0)', id: 'edit_sort_nos'
  = form_tag(update_sort_nos_admin_products_path, id: 'update_sort_nos', style: 'display: none', method: 'put') do
    = link_to "#{Product.human_attribute_name(:sort_no)}を変更しない", admin_products_path
    = hidden_field nil, :ids, id: 'ids'
    = submit_tag "#{Product.human_attribute_name(:sort_no)}を確定する", class: 'btn btn-primary'
  :coffee
    $(document).on 'turbolinks:load', ->
      $('#edit_sort_nos').on 'click', ->
        $('#products > tbody').sortable()
        $('#products > tbody > tr').css('cursor', 'move')
        $('#edit_sort_nos').hide()
        $('#update_sort_nos').css(display: 'inline')

      $('#update_sort_nos').on 'submit', ->
        ids = $('#products > tbody > tr').map ->
          $(this).data('product')
        $('#ids').val(ids.get().join(','))
