%p
  %b= "#{Product.human_attribute_name :name}:"
  = @product.name
%p
  %b= "#{Product.human_attribute_name :price}:"
  = @product.price
%p
  %b= "#{Product.human_attribute_name :description}:"
  = @product.description
%p
  %b= "#{Product.human_attribute_name :hidden}:"
  = @product.hidden
%p
  %b= "#{Product.human_attribute_name :sort_no}:"
  = @product.sort_no

= link_to I18n.t('links.edit'), edit_admin_product_path(@product)
\|
= link_to I18n.t('links.back'), admin_products_path
