%p
  %b= "#{Product.human_attribute_name :name}:"
  = @product.name
%p
  %b= "#{Product.human_attribute_name :price}:"
  = @product.price
%p
  %b= "#{Product.human_attribute_name :description}:"
  = @product.description
%p
  %b= "#{Product.human_attribute_name :hidden}:"
  = @product.hidden_name
%p
  %b= "#{Product.human_attribute_name :sort_no}:"
  = @product.sort_no
%p
  %b= "#{Product.human_attribute_name :product_image}:"
  %div= image_tag(@product.product_image_url(:thumb)) if @product.product_image?

= link_to I18n.t('links.edit'), edit_admin_product_path(@product)
\|
= link_to I18n.t('links.back'), admin_products_path
